<section class="block block-video-tut-2">
    <div class="container">
      <div class="columns">
        <div class="column media">
          <div class="video-wrap">
            <div class="video-container">
                <script
                id="{{ section.ascii_id }}"
                src="{{ section.ascii_url }}"
                async
              ></script>
            </div>
          </div>
        </div>
        <div class="column text">
          <div class="column text header">{{ section.headline }}</div>
          <div class="column text date">{{ section.date }}</div>
          <div class="column text content">
            {{ section.content }}
            <a href="{{ section.video_url }}" target="_blank"
              >Click here for a larger version.</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  