<section id="features" class="block block-feature-1">
  <div class="container">
    <div class="columns">
      <div class="column media">
        <iframe
          height="640"
          width="480"
          src="https://player.vimeo.com/video/120586421"
          frameborder="0"
          allow="autoplay; fullscreen"
          allowfullscreen
        ></iframe>
      </div>
      <div class="column text">
        <h2><span class="light">{{ section.headline }}</span></h2>
        <p>{{ section.content }}</p>
      </div>
    </div>
  </div>
</section>