<section class="block block-release">
  <div class="container">
    <div class="columns">
      <div class="column text">
        <h2><span class="light">{{ section.headline }}</span></h2>
        <span class="light">{{ section.date }}</span>
      </div>
        <div>
          <div class="column header">Features</div>
          <div class="column points">{{ section.features }}</div>
          <div class="column header">Fixes</div>
          <div class="column points">{{ section.fixes }}</div>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</section>
